@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    /* border: 1px solid white; */
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: #222831;
}

.main{
    position: relative;
    width: 100%;
    height: 100%;
}

.navBar{
    padding: 3% 5% 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    /* font-size: 16px; */
    font-size: 20px;
    font-weight: 600;
    padding: 1% 0;
    cursor: pointer;
}

a:hover{
    border-bottom: 2px solid #29a19c;
}


.navLeft{
    display: flex;
    gap: 4vw;
    align-items: center;
    padding: 0 2%;
}

.navRight{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
}

.navLogo img{
    width: 34px;
}

.navLogoDescription h2{
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.hamBurger{
    display: none;
    margin-top: 2%;
}


.hamLine{
    display: block;
    border-top: 2px solid white;
    width: 8vw;
    padding-top: 7px;
}


.pageOne{
    padding: 4% 0 17% 5%;
    color: white;
    position: relative;
    background-image: url(./images/imageOne.png), url(./images/pageOneCoffee.png), url(./images/pageOneBurger.png), url(./images/pageOneMug.png);
    background-repeat: no-repeat;
    background-position: right 0rem top 2.5rem, left 44rem top 4rem, left 33rem top 15rem, left 24rem top 24rem;
    background-size: 46rem 38.6rem, 3rem 4rem, 3rem 3rem, 4.5rem 4.5rem;
}

.pageOneLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
}

.pageOne h1{
    font-family: "Grand Hotel", cursive;
    font-size: 131px;
    font-weight: 100;
    word-spacing: 9px;
}

.pageOne h2{
    word-wrap: 3px;
    letter-spacing: 3px;
    font-size: 28px;
}

.pageOnePara{
    width: 34%;
    word-break: break-all; 
    line-height: 1.6;
    font-size: 15px;
    /* font-weight: 500; */
}

.orderNowButton button{
    background-color: #29a19c;
    color: white;
    border: none;
    font-size: 26px;
    font-weight: bold;
    padding: 0.8% 3%;
    border-radius: 10px;
    cursor: pointer;
}

.pageOneWave{
    position: absolute;
    left: 0;
    bottom: -1%;
}

.pageOneBurger{
    position: absolute;
    top: 36rem;
    left: 13rem;
}


.pageTwo{
    background-color: #29a19c;
    padding: 0 11% 1% 11%;
    display: flex;
    justify-content: space-between;
}


.pageTwoLeft h1{
    font-family: "Grand Hotel", cursive;
    font-size: 110px;
    font-weight: 100;
    line-height: 0.9;
}

.pageTwoHeading{
    padding-top: 22%;
}


.pageTwoRight{
    width: 50%;
}

.pageTwoButton{
    padding: 11vh 0 0 0;
}

.pageTwoButton button{
    /* background-color: #222831;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 2% 7%;
    border-radius: 10px;
    cursor: pointer; */

    background-color: #222831;
    color: white;
    border: none;
    font-size: 23px;
    font-weight: 600;
    padding: 4% 10%;
    border-radius: 10px;
    cursor: pointer;
}


.pageTwoImg{
    width: 73%;
    margin-left: auto;
}

.pageTwoImgContent{
    width: 93%;
    margin-left: auto;
    text-align: end;
    text-align: right;
    padding-top: 6%;
    word-break: break-all;
    font-size: 17px;
}

.pageTwoImgContent p{
    line-height: 1.4;
    word-spacing: 7px;
    letter-spacing: 1px;
}















@media (max-width:600px) {
    .navBar{
        padding-top: 4%;
    }

    .navLeftAnchor{
        display: none;
    }

    .hamLine,.hamBurger{
        display: block;
    }

    .navLogoDescription h2{
        font-size: 1em;
    }

    .navLogo img{
        width: 25px;
    }

}